<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saksham">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Student.Notification"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Student.ListMatchesStud"></activity>
        <activity android:name=".Student.OTP" />
        <activity android:name=".Writer.Chat.Chat" />
        <activity android:name=".Student.ChatStud.ChatStud"/>
        <activity android:name=".Writer.ListMatches" />
        <activity android:name=".Student.ForgotPasswordStud" />
        <activity android:name=".Student.LoginStud" />
        <activity android:name=".Writer.Login" />
        <activity android:name=".Writer.RegistrationWriter" />
        <activity android:name=".Writer.PasswordChange" />
        <activity android:name=".Writer.ForgotPassword" />
        <activity android:name=".Student.ContactUs" />
        <activity android:name=".Student.RateWriter" />
        <activity android:name=".Student.ProfileStud" />
        <activity android:name=".RequestWriter" />
        <activity android:name=".Student.HomeStud" />
        <activity android:name=".Student.ListNotification" />
        <activity android:name=".Writer.MyProfile" />
        <activity android:name=".Student.RegisterStud" />
        <activity android:name=".RegistrationBtn" />
        <activity android:name=".Writer.Home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Student.NotificationReceiver" />
    </application>

</manifest>